[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = {version = "*",editable = true}
pytest = "*"
autopep8 = "*"
requests = "*"
rope = "*"

[packages]
flask = "*"
fastjsonschema = "*"

[requires]
python_version = "3.8"
